html {
    --background-color: #201f1e;
    --text-color: #fff;
    --text-color-secondary: #a9a9a9;
    --label-color: #98c6ff;
    --link-color: #98c6ff;
    --link-hover-color: #b8d8ff;

    width: 300px;
    background-color: var(--background-color);
}

body {
    color: var(--text-color);
    a {
        color: var(--link-color);
        &:hover {
            color: var(--link-hover-color);
        }
    }
    small  {
        color: var(--text-color-secondary);
        display:block;
    }
    label {
        cursor: pointer;
        color: var(--label-color);
        &:hover {
            color: var(--link-hover-color);
        }
    }
}